.AppContent {
	background: #282828;
	color: var(--main-text-color);
}
.wrapper {
    display: flex;
    min-height: 87vh;
    margin: 87px auto 0;
    overflow: hidden;
}
.wrapContent {
    display: flex;
    // width: 100%;
}
