.wrapperUsersPagination {
    position: relative;
    margin: 3px;
    padding-top: 8px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
}
.active {
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.preloader {
    width: 40px;
    height: 40px;
}


